* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #cab47c;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #346038;
    box-shadow: 0 2px 4px rgba(127, 168, 50, 0.1);
}
.menu {
    display: flex;
    gap: 0px;
    margin-left: 1000px;
}
.menu-item {
    text-decoration: none;
    color: #cab47c;
    font-weight: bold;
    transition: color 0.3s;
}
.menu-item:hover {
    color: #346038;
}
.name{
    display: flex;
    gap: 0px;
}
.site-name{
    text-decoration: none;
    color: #cab47c;
    font-weight: bold;
    font-size: 25px;
    transition: color 0.3s;
}
.search-box {
    border-radius: 40px;
    background-color: #cab47c;  
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-txt {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: #346038;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}
.search-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #cab47c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box:hover > .search-txt{
    width: 240px;
}
footer {
    background-color: #346038;
    color: #cab47c;
    padding: 20px;
    text-align: center;
    position: absolute; /* Posiciona o rodapé no final do contêiner pai */
    bottom: 0; /* Alinha ao fundo do contêiner pai */
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
}
.footer-content p {
    font-size: 16px;
    margin-bottom: 0;
}

.footer-content p {
    font-size: 16px;
    margin-bottom: 0;
}